.carrossel__titulo {
  color: var(--laranja);
  background-color: var(--branco);
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 1em 0 0.5em 0;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin: .5em 0;
}
.card{
  margin-top: 20px;
  background-color: var(--branco);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;

}

.card-descricao{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}


.paragrafo-card{
font-weight: 700;
font-size: 1rem;
color: var(--laranja);
}

.titulo-card{
font-weight: 700;
font-size: 18px;
color: var(--azul);
/* dar espaco entre as escritas */
margin: 0.5em 0;
}

.paragrafo-sec-card{
font-weight: 400;
font-size: 14px;
}

.card-botoes{
  display: flex;
  justify-content: space-between;
}

.botoes{
  display: flex;
  margin-bottom: 0.5em;
  align-items: center;
}

.botoes-ancora {
  background-color: var(--laranja);
  margin-top: 10px;
  padding: 0.5em 2.2em;
  color: var(--branco);
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.botoes-item{
  margin: 0 0.5em;
}

@media screen and (min-width: 1024px){
  .carrossel__titulo{
    font-size: 1.62rem ;
  }

  .swiper-pagination{
    margin: 2em 0 3em 0;
  }

  .swiper{
    width: 70%;
  }

.swiper-button-prev,
.swiper-button-next {
 display: block;
 top: 60%;
}
.card{
  width: 45%;
  margin: 2em auto;
}
}