.contato{
  margin: 1em;
}

.teste{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-contato{
  font-weight: 500;
  font-size: 18px;
}

.paragrafo-contato{
font-weight: 300;
font-size: 16px;
padding:1em 0.5em
}

.search-email{
    padding: 1em;
    background: none;
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 100%;
    color: var(--branco);
  }
  
  .search-email::placeholder{
    font-family: var(--fonte-principal);
    color: var(--azul);
    font-weight: 400;
    text-align: center;
    background: url(../img/email.svg) no-repeat;
    background-position: 2em;
    background-size: 20px;
  }

  hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodapé{
  display: none;
}


@media screen and (min-width: 1024px) {
  .contato{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contato-descricao{
    margin-right:1em;
  }
  .search-email{
    width: 30%;
  }

  .rodape{
    display: flex;
    justify-content: space-around;
  }

  .lista-rodapé{
    display: block;
  }

  .lista-rodapé__item{
    display: flex;
    align-items: center;
    margin: 1em 0;
  
  }

  .lista-rodapé__link{
    color: var(--cinza);
    text-decoration: none;
    margin-left: 0.6em;
  }

  .lista-rodapé__titulo{
    font-size: 0.87rem;
    color: var(--ciinza-claro);
    text-transform: uppercase;
  }
  .grupo-alura{
    font-size: 1.5rem;
  }

}