/* Icone hamburguer criado */
.mobile-menu div {
  width: 32px;
  height: 4px;
  background: #002F52;
  margin: 6px;
  transition: 0.3s;
}

/* Cabecalho onde sustenta os icones*/
.cabecalho{
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Classe para determinar flex */
.container{
  display: flex;
  align-items: center;
}

/* icone de logo */
.logo{
  padding: 0.8em;
}
/* Titulo da lista */
.lista-menu-titulo,
.lista-menu-item{
  padding: 1rem;
}

/* Itens da lista */
.lista-menu-item a{
  text-decoration: none;
  color: black;
}

.lista-menu-titulo{
  margin-top: 15px;
  color: var(--laranja);
  font-weight: 700;
}

.lista-menu-link{
background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

/* ul - lista como um todo */
.lista-menu{
  background-color: var(--branco);
  position: absolute;
  top: 8vh;
  left: 0;
  width: 250px;
  height: 344px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transform:translateX(-100%);
  transform: transform 0.3s ease-in;
}

/* Lista ul para tirarmos a lista da tela e definirmos o local de entrada*/
.lista-menu.active{
  transform: translateX(0);
}

/* cada linha do icone */
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

