.mobile-menu div {
  width: 32px;
  height: 4px;
  background: #002F52;
  margin: 6px;
  transition: 0.3s;
}

.cabecalho{
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container{
  display: flex;
  align-items: center;
}

.container-imagem{
  padding: 0.8em;
}

.lista-menu-titulo{
  font-size: 16px;
  font-weight: 700;
  color: #EB9B00;
}

.lista-menu-item a{
  text-decoration: none;
  color: black;
}

.lista-menu{
  position: absolute;
  top: 10vh;
  left: 0;
  background-color: var(--branco);
  width: 250px;
  height: 344px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  transform:translateX(-100%);
  transform: transform 0.3s ease-in;
}

.lista-menu.active{
  transform: translateX(0);
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}