body {
  /* Distanciamento na parte externa, ao redor do elemento */
   margin: 0px;
  /* Fonte escolhida */
  font-family: Arial, Helvetica, sans-serif;
  /* Cor de fundo do site */
  background-color: #f7f7f7;
  /* Inicia o catainer indicando que é um GRID */
  display: grid;
  /* justificar ao centro  itens da caixa */
  justify-items: center;
  /* Distanciando a parte SUPERIOR dos itens dentro do BODY */
  margin-top: 60px;
  /* Espaçamento entre linhas e colunas */
  gap: 60px; 

}

img {
  /* A largura máxima de um elemento (foto) */
  max-width: 100%;
  /* Elemento vira um bloco */
  display: block;
}

.menu {
/* Tamanho da fonte */
font-size: 18px; 
/* Inicia o container posicionado no espaço disponível com linhas OU colunas*/
display: flex;
/* os itens são forçados a ficarem na mesma linha ou se podem ser quebradas em varias linhas 
wrap - PODE QUEBRAR
nowrap - NÃO PODE */
flex-wrap:wrap;
/* Distancia entre linhas e colunas */
gap: 20px;
/* Justifica TODO o conteúdo da grade */
justify-content: center;
}

.menu a{
  /* Cor da letra */
  color: black;
  /* Retira o sublinhado */
  text-decoration: none;
  /* Define a cor de fundo do item */
  background: rgb(255, 255, 255, 0.50);
  /* Define a borda */
  border-radius: 4px;
  /* Distãncia entre o conteúdo e a borda cima/baixo E direita/esquerda */
  padding: 15px 30px;
}

p, h1, h2, h3 {
  /* Deixando defaut */
  margin: 0px;
}

p {
  /* Tamanho da fonte */
  font-size: 20px;
  /* Altura da linha */
  line-height: 1.3;
}


.conteudo {
  /* Inicia o cotainer indicando que é um GRID */
 display: grid;
 /* Fatia as colunas, dizendo quantas colunas o GRID possui total ocupado pelas mesmas */
 grid-template-columns: repeat(2, 1fr);
 /* Largura máxima que o conteúdo pode atingir */
 max-width: 1000px;
}


.info {
/* Cor de fundo do item */
background: #fff;
/* Alinhamento do texto */
text-align: right;
/* Tamanho da fonte */
font-size: 18px;
/* Distancia entre o conteúdo e a borda */
padding: 50px;
/* esse POSITION foi criado para relacionar o ABSOLUTE */
position: relative;
/* Inicia o container indicando que é um GRID */
display: grid;
/* Alinhar todo o conteúdo ao centro */
align-content: center;
/* justificar todos os itens para o final da coluna */
justify-items: end;
/* Distancia dos itens*/
gap: 20px;
}

.detalhe {
  /* largura */
  width: 60px;
  /* Altura */
  height: 4px;
  /* cor de fundo do item */
  background: #ee2211;
  /* NÃO preciso mais do display porque ele virou um elemento de GRID */
  /* display: inline-block; */
  /* ABSOLUTE não influencia em nada nos outros elementos */
  position: absolute;
  /* Altura da parte superior */
  top: 30px;
  /* Altura da parte inferior */
  right: -30px;
  
}

button {
  /* Tamanho da fonte */
  font-size: 18px;
  /* cor da fonte */
  color: #f7f7f7;
  /* cor de fundo do item */
  background: #ee2211;
  /* Sem bordas */
  border: none;
  /* distância do item para a borda */
  padding: 15px 30px;
  /* Arredondamento das bordas */
  border-radius: 4px;
}


h2 {
  /* Cor de fundo do item */
  background: #F7F7F7;
  /* Alinhamento do texto */
  text-align: right;
  /* Tamanho da fonte */
  font-size: 64px;
  /* Cor da fonte */
  color: #c6c6c6;
  /* Distância do item para a borda */
  padding: 15px 40px;
  /* O self é utilizado para falar apenas com um item especifico ao centro */
  align-self: center;

}

.vantagens{
  /* Cor de fundo do item */
  background: #fff;
  /* Distância do contreúdo e borda */
  padding: 40px;
  
}

.vantagens-item {
  /* Distância do conteúdo e borda */
  padding: 10px 50px;
  /* Iniciando o container indicando que é um GRID  */
  display: grid;
  /* Fatiando as colunas, dizendo quantas colunas o GRID possui total ocupado AUTO- ocupar o espaço necessário */
  grid-template-columns: repeat(auto,1fr);
  /* definir 1º o valor de linha e 2º o valor das colunas  */
  gap: 10px 20px;
  /* Distância do conteúdo e borda */
  padding: 20px;
}

.vantagens-item p {
  /*colocar conteúdo na segunda coluna*/
  grid-column: 2;
}

.fim {
  /* Largura */
  width: 100%;
  /* Alinhamento do texto ao centro */
  text-align: center;
  /* Cor de fundo do item */
  background: rgb(255, 255, 255);
  /* Tamanho da fonte */
  font-size: 20px;
  /* Espaçamento do conteúdo aaté a borda */
  padding: 40px;
  /* não soma bordas e margens com altura e largura (SCROLL) */
  box-sizing: border-box;
}
