body {
  font-family: Arial, Helvetica, sans-serif;
}

.px {
font-size: 24px;
padding: 16px 32px;
}

.rem {
  font-size: 1.5rem ;
  padding: 1rem 2rem;
}

p {
  background: lightblue;
}

a {
  text-decoration: none;
  background: rgb(107, 107, 107);
  color: aliceblue;
  display: inline-block;
}